/* Set margin to auto to center the table horizontally */
/* Default table style */
table {
  margin: auto;
  border-collapse: collapse;
  width: 90%;
  box-shadow: 0 0 10px rgb(0, 0, 0); /* Apply outer glow effect */
}

/* Table style for dark theme */
.dark-theme table {
  td {  /* For dark theme the Border color will be white */
    padding: 10px;/* Padding for data cells */
    border: 1px solid #ffffff;/* Border color and style for data cells */
    text-align: left;/* Left align text within data cells */
  }
  box-shadow: 0 0 10px rgb(255, 255, 255); /* White outer glow for dark mode */
  tr:hover{background-color:rgba(0, 255, 110, 0.432);}} /*Hovering on the table Row for DARK MODE
}

/* Dark theme */
.dark-theme {
  background-color: #333; /* Background color for dark theme */
  color: #f5f5f5; /* Text color for dark theme */
}

/* Style for table header cells */
th {
  background-color: #ffffff; /* Background color for header cells */
  font-weight: bold; /* Bold font for header cells */
  padding: 10px; /* Padding for header cells */
  border: 1px solid #ff0000; /* Border color and style for header cells */
  text-align: center; /* Center align text within header cells */
}

/* Style for table data cells */
td {
  padding: 10px; /* Padding for data cells */
  border: 1px solid #000000; /* Border color and style for data cells */
  text-align: left; /* Left align text within data cells */
}

tr:hover{background-color:rgba(0, 140, 255, 0.432);} /*Hovering on the table Row for LIGHT MODE
  


/* Center align text in data cells of the 12th row */
tr:nth-child(12) td {
  text-align: center;
}

/* Set text alignment to left for paragraphs */

/* p {
  text-align: center;
} */

/* Set text alignment to right for elements with class align-right */
.align-right {
  text-align: right;
}

/* Base styling for the body */
body {
  background-color: #ffffff; /* Background color for the body */
  color: #333; /* Text color for the body */
}



/* Positioning for the theme toggle */
#theme-toggle {
  position: absolute; /* Position element absolutely */
  top: 20px; /* Position from the top */
  right: 20px; /* Position from the right */
}


.signature-line {
  margin:auto;
  display:flex; /* Use flexbox layout */
}

.signature {
  
  margin: 10%; /* Add margin between signatures */
}
